<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">上传word/txt文件</h5>
      <div class="custom-file mb-3">
        <input type="file" class="custom-file-input" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)"
          [uploadInput]="uploadInput">
        <label class="custom-file-label" [innerHTML]="fileName"></label>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-success" (click)="startUpload()">
          开始上传
        </button>
      </div>
      <p class="card-text"><small class="text-muted">有可能会不成功的哦，请不要失望 ^_^.</small></p>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0"
          aria-valuemin="0" aria-valuemax="100" id="upload-progress-bar"></div>
      </div>
      <h5 class="text-success my-2" [innerHTML]="message"></h5>
      <div *ngIf="uploadCompleted">
        <a class='btn btn-link' href="{{pdfFileLink}}" target="_blank" download>点击下载pdf文件</a>
        <a class='btn btn-link' href="{{texFileLink}}" target="_blank" download>点击下载tex文件</a>
      </div>
    </div>
  </div>
</div>