<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">手动输入模式
      <a class="ml-1" routerLink="/mrtt/form-version">
        <fa-icon [icon]="['fas', 'arrow-circle-right']"></fa-icon>
      </a>
    </h5>
    <p class="card-text">逐条输入新闻的数据来生成pdf文件</p>
  </div>
</div>
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">上传模式
      <a class="ml-1" routerLink="/mrtt/upload-version">
        <fa-icon [icon]="['fas', 'arrow-circle-right']"></fa-icon>
      </a>
    </h5>
    <p class="card-text">上传word或者txt格式的文件来自动生成pdf文件</p>
  </div>
</div>