<table class="table" *ngIf="magazine.articles && magazine.articles.length > 0">
  <thead>
    <th>顺序</th>
    <th>标题</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let atc of magazine.articles;let i = index;">
      <td>{{atc.sequence}}</td>
      <td>{{atc.title}}</td>
      <!-- <td>{{atc.link}}</td>
      <td>{{atc.footnote}}</td>
      <td>{{atc.content}}</td> -->
      <th scope="col">
        <button class="btn btn-success btn-sm mr-1" (click)="editArticle(atc)">编辑</button>
        <button class="btn btn-danger btn-sm ml-1" (click)="removeArticle(i)">删除</button>
      </th>
    </tr>
  </tbody>
</table>
<div class="form" *ngIf="article">
  <div class="form-group row">
    <div class="col">
      <label>左边头标题</label>
      <input type="text" name="left_head_title" class="form-control" [(ngModel)]="magazine.left_head_title">
    </div>
    <div class="col">
      <label>中间头标题</label>
      <input type="text" name="middle_head_title" class="form-control" [(ngModel)]="magazine.middle_head_title">
    </div>
    <div class="col">
      <label>右边头标题</label>
      <input type="text" name="right_head_title" class="form-control" [(ngModel)]="magazine.right_head_title">
    </div>

  </div>
  <div class="form-group">
    <label>标题</label>
    <input type="text" class="form-control" name="title" [(ngModel)]="article.title" placeholder="请输入文章标题">
  </div>

  <div class="form-group">
    <label>链接</label>
    <input type="text" class="form-control" name="title" [(ngModel)]="article.link" placeholder="请输入文章链接">
  </div>
  <div class="form-group">
    <label>脚注</label>
    <input type="text" class="form-control" name="title" [(ngModel)]="article.footnote" placeholder="请输入文章脚注">
  </div>
  <div class="form-group">
    <label>内容 <button type="button" class="btn btn-sm" (click)="insertNewParagraph()">插入新段落</button></label>
    <div class="mb-2" *ngFor="let p of article.content; let i = index;">
      <textarea class="form-control" rows="4" (change)="updateParagraphContent($event.target.value,i)" placeholder="请输入段落内容">{{p}}</textarea>
      <div class="mt-2 text-center"><button class="btn btn-danger btn-sm" (click)="removeParagraph(i)">删除段落</button></div>
    </div>

  </div>
  <button type="button" class="btn btn-success" (click)="addarticle(article)">添加新闻</button>
</div>
<div class="text-right">
  <button class="btn btn-success btn-lg" (click)="generatePdfFile()">生成pdf文件</button>
</div>


<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>
</div>